/* Buttons SCSS */
.btn {
  border-radius: 13px;
  font-size: 13.5px;
  font-weight: 700;
  letter-spacing: 0.5px;
  padding: 12px 9px 12px 9px;
  width: 150px;
}

.random-button {
  background-color: white;
  border-color: #fff;
  border-width: 2px;
  box-sizing: border-box;
  color: $blue;
  margin-top: 20px;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: $blue;
    border-color: white;
    color: white;
  }
}
