/* Colors */

$font-dark-blue: #143756;
$font-nav-hover: #1468a0;
$font-label-grey: #8794A0;

$loader-background: #5ed7ed;
$button-background: #08B8D6;

$icon-green-shadow: #DAF6EA;

$transparent: rgba(0, 0, 0, 0);

/* Fonts */

$font-fallback: Arial,
sans-serif;

$poppins: 'Poppins',
sans-serif;

$chivo: 'Chivo',
sans-serif;