/* Buttons SCSS */

.btn {
  padding: 12px 9px 12px 9px;
  border-radius: 13px;
  width: 150px;
  font-size: 13.5px;
  letter-spacing: 0.5px;
  font-weight: 700;
}

.header-button {
  color: $blue;
  background-color: white;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
  border-width: 2px;
  border-color: #fff;
  margin-top: 20px;

  &:hover {
    background-color: $blue;
    color: white;
    border-color: white;
  }
}
