/* Globals */
html,
body {

  position: relative;
  min-height: 100vh;

  overflow-x: hidden !important;
  font-family: "Roboto", sans-serif;
  background-color: $white;

  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;

  text-rendering: optimizeLegibility !important;
  -webkit-text-stroke: 0.025em rgba(51, 51, 51, 0.05);
}

p {
  margin: auto;
  font-weight: 400;
  font-size: 1.15rem;
  line-height: 1.8em;
  letter-spacing: 0.5px;
}

img {
  user-select: none;
}

::selection {
  color: white;
  background: black;
}
